extends ./partials/layout.jade

block content
  #timeline.clearfix(data-columns)
    .panel.panel-primary.panel-news
      figure
        img(src="./img/a667a056e846b0f3cdaa7f3904b11a51.jpg")
        figcaption
          big.label.label-primary Agenda
          abbr.timeago(title="2015-01-06 06:30") 2015-01-06 06:30
      h1
        a(href='#') Bordsteinschwalbe Release Party
    .panel.panel-primary.panel-news
      figure
        img(src="./img/e7f8e070b6b0f2851e87e5138d6e0ef3.jpg")
        figcaption
          big.label.label-primary Berita
          abbr.timeago(title="2015-01-06 03:30") 2015-01-06 03:30
      h1
        a(href='#') Frisches vom Spielplatz I Bunter den Lachs Mixtape
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .panel.panel-primary.panel-news
      figure
        img(src="./img/altonale_16_20140706_panzau-3-400x268.jpg")
        figcaption
          big.label.label-primary Berita
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
      h1
        a(href='#') Bunter Spielplatz und die Geschichte vom Anfang ohne Ende
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
    .panel.panel-primary.panel-news
      figure
        img(src="./img/e7cb60a91e973ac631b9cf8ddb66815f.jpg")
        figcaption
          big.label.label-primary Galeri
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
    .panel.panel-primary.panel-news
      figure
        img(src="./img/Bull-chase-big-picture-335x251.jpg")
        figcaption
          big.label.label-primary Agenda
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
      h1
        a(href='#') Bunter Spielplatz und die Geschichte vom Anfang ohne Ende
    .panel.panel-primary.panel-news
      figure
        img(src="./img/RHV0579-600x735.jpg")
        figcaption
          big.label.label-primary Galeri
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
    .panel.panel-primary.panel-news
      figure
        img(src="./img/altonale_16_20140706_panzau-3-400x268.jpg")
        figcaption
          big.label.label-primary Berita
          abbr.timeago(title="2015-01-06 12:30") 2015-01-06 12:30
      h1
        a(href='#') Bunter Spielplatz und die Geschichte vom Anfang ohne Ende
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.

