@fontspath : "../fonts";

@font-face {
	@fontpath : "@{fontspath}/roboto_regular_macroman";
	font-family: 'robotoregular';
	src: url('@{fontpath}/Roboto-Regular-webfont.eot');
	src: url('@{fontpath}/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('@{fontpath}/Roboto-Regular-webfont.woff') format('woff'),
	url('@{fontpath}/Roboto-Regular-webfont.ttf') format('truetype'),
	url('@{fontpath}/Roboto-Regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}