/* LESS BUILD */

@import "variables.less";

/* Bootstrap */
/* ====================================================== */

// Core variables and mixins
@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

// Reset and dependencies
@import "bootstrap/normalize.less";
// @import "bootstrap/print.less";
// @import "bootstrap/glyphicons.less";

// Core CSS
//@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
// @import "bootstrap/code.less";
@import "bootstrap/grid.less";
// @import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
//@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
//@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
// @import "bootstrap/pagination.less";
// @import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
// @import "bootstrap/jumbotron.less";
// @import "bootstrap/thumbnails.less";
// @import "bootstrap/alerts.less";
// @import "bootstrap/progress-bars.less";
// @import "bootstrap/media.less";
@import "bootstrap/list-group.less";
// @import "bootstrap/panels.less";
@import "bootstrap/responsive-embed.less";
// @import "bootstrap/wells.less";
// @import "bootstrap/close.less";

// Components w/ JavaScript
// @import "bootstrap/modals.less";
// @import "bootstrap/tooltip.less";
// @import "bootstrap/popovers.less";
// @import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";


/* Font Awesome */
/* ====================================================== */

@import "fontawesome/variables.less";
@import "fontawesome/mixins.less";
@import "fontawesome/path.less";
@import "fontawesome/core.less";
// @import "fontawesome/larger.less";
@import "fontawesome/fixed-width.less";
// @import "fontawesome/list.less";
// @import "fontawesome/bordered-pulled.less";
// @import "fontawesome/spinning.less";
// @import "fontawesome/rotated-flipped.less";
// @import "fontawesome/stacked.less";
@import "fontawesome/icons.less";


/* Main Style */
/* ====================================================== */
@import "style/scaffolding.less";
@import "style/dropdowns.less";
@import "style/navbar.less";
@import "style/panels.less";
//@import "style/header.less";
//@import "style/footer.less";
@import "fonts.less";


/* Plugin */
/* ====================================================== */
@import "plugin/salvattore.less";

body {
	padding-top: 42px;
}

.container {
	//max-width: 960px;
}

header {
	background: lighten(@brand-primary, 10%);
	margin-bottom: 12px;
}

.header-brand {
	font-size: 20px;
	width: 400px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 30px 0;
	color: #fff;

	&:hover,
	&:focus {
		text-decoration: none;
		color: #fff;
	}
}

.header-logo {
	max-width: 50px;
	position: relative;
	bottom: 15px;
	margin-right: 20px;
}

.newsticker {
	background: #555;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-right: 5px;
	border-radius: 3px;
	color: #fff;
	overflow: hidden;

	&-date {
		float: left;
		display: inline-block;
		background: @brand-primary;
		padding: 5px 7px 0px;

		big {
			font-size: 20px;
			font-weight: bold;
			margin-right: 3px;
		}

		small {
			font-size: 80%;
		}
	}

	&-list {
		display: none;
	}

	&-now {
		font-size: 16px;
		line-height: 31px;
		padding-left: 10px;
		float: left;
	}
}

.mainview {
	padding-right: 0;
}

footer {
	color: #fff;
	background: #333;
	padding: 20px 0;
	margin-top: 20px;
	p {
		float: left;
		margin: 0;
		line-height: 18px;
	}
	img {
		float: right;
		height: 45px;
	}
}