footer#footer
  .container
    p
      | Copyright 2015 © BBPPKS. All rights reserved.
      br
      | Designed by Davigmacode.
    img.pull-right(src='img/logo.png')
  // END .container
// end #footer