header
  .container
    .row
      .col-md-8
        img.header-logo(src='./img/logo.png')
        a.header-brand(href='#') Balai Besar Pendidikan dan Pelatihan Kesejahteraan Sosial
      .col-md-4
        //- #carousel-example-generic.carousel.slide(data-ride='carousel')
        //-   // Indicators
        //-   ol.carousel-indicators
        //-     li.active(data-target='#carousel-example-generic', data-slide-to='0')
        //-     li(data-target='#carousel-example-generic', data-slide-to='1')
        //-     li(data-target='#carousel-example-generic', data-slide-to='2')
        //-   // Wrapper for slides
        //-   .carousel-inner(role='listbox')
        //-     .item.active
        //-       img(src='...', alt='...')
        //-       .carousel-caption
        //-     .item
        //-       img(src='...', alt='...')
        //-       .carousel-caption
        //-   // Controls
        //-   a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
        //-     span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        //-     span.sr-only Previous
        //-   a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
        //-     span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        //-     span.sr-only Next
nav.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.hide(href='#') BBPPKS
    div#navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Beranda
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | Profile
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Sejarah
            li
              a(href='#') Visi Misi
            li
              a(href='#') Fasilitas
            li
              a(href='#') Personil
        li
          a(href='#') Berita
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | Diklat
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Jenis Diklat
            li
              a(href='#') Peserta Diklat
            li
              a(href='#') Alumni Diklat
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
            | Kegiatan
            span.caret
          ul.dropdown-menu(role='menu')
            li
              a(href='#') Jadwal Kegiatan Diklat
            li
              a(href='#') Jadwal Kegiatan Lain
        li
          a(href='#') Evaluasi
        li
          a(href='#') Perpustakaan
    // /.nav-collapse