doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		title BBPPKS
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(href='css/style.css', rel='stylesheet', type='text/css')

	body
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1072663519426536&version=v2.0";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		include ./header.jade
		.container
			.newsticker
				span.newsticker-date
					big 07
					small Jan
				ul.newsticker-list
					li Lorem ipsum dolor sit amet, consectetur adipisicing elit
					li sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
					li Ut enim ad minim veniam, quis nostrud exercitation
				.newsticker-now
			.row
				.col-md-3.sideview
					include ./sidebar.jade
				.col-md-9.mainview
					block content
		include ./footer.jade

		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.min.js')
		script(type='text/javascript', src='js/holder.min.js')
		script(type='text/javascript', src='js/salvattore.min.js')
		script(type='text/javascript', src='js/jquery.timeago.js')
		script(type='text/javascript', src='js/jquery.timeago.id.js')
		script(type='text/javascript', src='js/app.js')