mixin sortby
	.sort-by
		select(data-placeholder='-sort by-')
			option(value='option1') Name
			option(value='option2') Type
			option(value='option3') Name
			option(value='option4') Type
	// end sort-bys