.panel.panel-primary.panel-left.hide
  .panel-heading
    h3.panel-title
      i.fa.fa-newspaper-o
      | Berita Terbaru
  .list-group.list-group-alt
    a.list-group-item(href='#')
      img.list-group-item-thumb(src='holder.js/55x55/sky')
      h4.list-group-item-heading Cras justo odio
      p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit..
    a.list-group-item(href='#')
      img.list-group-item-thumb(src='holder.js/55x55/sky')
      h4.list-group-item-heading Cras justo odio
      p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit..
    a.list-group-item(href='#')
      img.list-group-item-thumb(src='holder.js/55x55/sky')
      h4.list-group-item-heading Cras justo odio
      p.list-group-item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit..
.panel.panel-primary.hide
  .panel-heading
    h3.panel-title
      i.fa.fa-dashboard
      | Lorem ipsum dolor
  .panel-body
    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.panel.panel-primary.panel-left
  .panel-heading
    h3.panel-title
      i.fa.fa-twitter-square
      | Twitter
  .panel-body
.panel.panel-primary.panel-left
  .panel-heading
    h3.panel-title
      i.fa.fa-facebook-square
      | Facebook
  .panel-body
    .fb-like-box(data-href='https://www.facebook.com/officialkaskus', data-colorscheme='light', data-show-faces='true', data-header='false', data-stream='false', data-width='200', data-show-border='false')